body {
    background-color: rgb(24, 41, 88);
}
#t1 {
    text-align: center;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}
#t3 {
    text-align: center;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}
.caixa {
    text-align: justify;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}
.caixa1 {
    text-align: justify;
    color: white;
    padding-left: 200px;
    padding-right: 150px;
}
.img {
    text-align: center;
    color: white;
}